/* external stylesheet */

body {

    height: 3000px;
    /* background-color: grey; */

    /* background-image: url( ../images/trainer-3.jpg)  ;

    background-repeat: no-repeat ;

    background-attachment: fixed;

    background-position: center ; */

}


/* h2 {
    background-color: red;
} */


.div1 {
    width: 300px;
    height: 200px;
    background-image: url(../images/trainer-3.jpg);
    background-size: cover;
}


.div2 {
    width: 300px;
    height: 300px;
    background-color: blue;
    border-radius: 50%;

    margin: auto ;
    margin-top: 50px;

    /* margin-top: 100px; */
    /* margin-left: 200px; */
    
}

.div3{
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;

    margin: auto;
    margin-top: 50px;
}

.sp1 {
    display: block;
   
    padding-top: 130px;
    text-align: center;
    /* بتوسطن أى نص  */

    font-size: 32px;
    color: #fff;
}